.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-bar {
  width: 100%;
}

.content {
  padding: 20px;
  width: 100%;
}

.description {
  margin: 20px 0;
}

.input-container, .chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  margin-right: 10px;
}

.large-input {
  width: 300px;
  margin-bottom: 10px;
}

.go-button {
  margin-top: 10px;
}

.large-button {
  width: 150px;
}

.chart-side {
  width: 100%;
  height: 70vh; /* Adjust the height as needed */
  max-width: 1000px;
  margin: 20px auto;
}